.container {
    text-align: center;
}

#chartAndMap {
    display: flex;
    flex-direction: row;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 0.8rem;
    background: #C6ECFF;
    color: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
    max-width: 130px;
}

.selected {
    fill: yellow;
    opacity: 1;
}

.brushed {
    fill: #B8EC87;
    opacity: 1;
}

.non_brushed {
    fill: #D1D1D1;
    opacity: 0.5;
}

.axis line{
    stroke: #D1D1D1;
}
.axis path{
    stroke: #D1D1D1;
}
.axis text{
    fill: #D1D1D1;
}  

.label {
    fill: #D1D1D1;
}

#resetButton {
    background: #C6ECFF;
    color: black;
    border-radius: 20px;
    border-color: white;
    width: 80px;
    height: 30px;
    font-size:x-small;
    text-align: center;
    padding: 0.2rem ;
    margin-right: 10px;
}

#switchModeButton {
    background: lightgrey;
    color: black;
    border-radius: 20px;
    border-color: white;
    padding: 10px;
    margin-left: -20px;
}

#filterFamily {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#filterFirstRow, #filterSecondRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#multiselect1,
#multiselect2,
#multiselect3,
#multiselect4,
#multiselect5,
#multiselect6 {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    width: 200px;
    margin: 5px;
}

#selectBox1,
#selectBox2,
#selectBox3,
#selectBox4,
#selectBox5,
#selectBox6  {
    position: relative;
}

#selectBox1 select,
#selectBox2 select,
#selectBox3 select,
#selectBox4 select,
#selectBox5 select,
#selectBox6 select{
    width: 100%;
    color: grey;
    border-color: lightgrey;
    /* font-weight: bold; */
}

#overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes1,
#checkboxes2,
#checkboxes3,
#checkboxes4,
#checkboxes5,
#checkboxes6 {
    display: none;
    border: 1px #dadada solid;
  }
  
#checkboxes1 label,
#checkboxes2 label,
#checkboxes3 label,
#checkboxes4 label,
#checkboxes5 label {
    display: block;
    font-size: 12px;
    color: grey;
    margin: 5px;
}

#checkboxes6 label {
    display: block;
    font-size: 10px;
    color: grey;
    margin: 5px;
}

#checkboxes1 label:hover,
#checkboxes2 label:hover,
#checkboxes3 label:hover,
#checkboxes4 label:hover,
#checkboxes5 label:hover,
#checkboxes6 label:hover {
    background-color: #C6ECFF;
}

#sliderFamily {
    display: flex;
    flex-direction: column;
    margin: 15px;
    /* background-color: black; */
    /* width: 800px;
    height: 100px;
    margin-left: -20px; */
}

#sliderFirstRow, #sliderSecondRow {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
}

#sliderContainer1, 
#sliderContainer2, 
#sliderContainer3,
#sliderContainer4,
#sliderContainer5, 
#sliderContainer6, 
#sliderContainer7,
#sliderContainer8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-left: 20px;
}

#sliderContainer1 p, 
#sliderContainer2 p, 
#sliderContainer3 p,
#sliderContainer4 p {
    font-size: 12px;
    color: lightgray;
}

#sliderContainer5 p, 
#sliderContainer6 p, 
#sliderContainer7 p,
#sliderContainer8 p{
    font-size: 11px;
    color: lightgray;
}

#sliderValueOne,
#sliderValueTwo,
#sliderValueThree,
#sliderValueFour,
#sliderValueFive,
#sliderValueSix,
#sliderValueSeven,
#sliderValueEight {
    height: 3px;
    color: lightgray;
}